*{
    padding: 0;
    margin: 0;
    font-family:  Helvetica;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    width: 80%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.main-container-title{
    font-weight: 600;
}

.main-container-text{
    font-weight: 500;
}

    /* ESTILO PARA LAS CARDS DE PRODUCTOS DESTACADOS 1 (featured-card */

/* Estilo para la caja donde se muestran las cards */
.featured-cards-container-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0 20px 0;
}
/* Estilo para el contenedor de las cards*/
.featured-card-container {
    background-color: #e9efff;
    width: 28%;
    margin: 15px;
    border-radius: 2px;
    position: relative;
}
/* Estilo para establecer el doblez en la esquina inferior derecha */
.featured-card-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 20%;
    background-color: #f3c0e6;
    clip-path: polygon(40% 20%, 100% 0, 30% 100%);
}
/* Estilo para dejar el color fondo de la página en la esquina inferior derecha */
.featured-card-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 20%;
    background-color: white; 
    clip-path: polygon(100% 0, 30% 100%, 100% 100%);
    z-index: 1;
}
/* Estilo para el cuerpo de la card */
.featured-card-body{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 2px;
}
/* Estilo para el div de la imagen */
.featured-card-img{
    height: 30vh;
    background-color: #f1e2ed;
    margin: 25px 35px 15px 35px;
}
/* Estilo para el título de la card */
.featured-card-title h1{
    font-size: x-large;
    font-weight: 600;
    color: #235789;
}

.featured-card-title {
    margin: 0 15px 20px 15px;
}
/* Estilo para los precios */
.featured-card-prices{
    margin: 10px 15px 30px 15px;
}

.featured-card-prices p{
    font-weight: 500;
    font-size: large;
    color: #979696;
}
/* Estilo para el div de acciones de la card */
.featured-card-actions {
    display: flex;
    flex-direction: row;
    margin: 5px 5px 10px 5px;
}

.featured-card-actions div{
    flex: 2;
}

.featured-card-actions svg{
    flex: 1;
    cursor: pointer;
}


    /* ESTILO PARA LAS CARDS DE PRODUCTOS DESTACADOS 2 (featured2-card) */

/* Estilo para la caja donde se muestran las cards */
.featured2-cards-container-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0 20px 0;
}

.featured2-card-container{
    border: 1px solid black;
    width: 23%;
    margin: 15px;
    padding: 5px 5px 30px 5px;
    border-radius: 40px;
}

.featured2-card-header{
    display: flex;
    flex-direction: row;
}

.featured2-card-header-info{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin: 5px 0px 0px 5px;
}

.feautured2-card-header-icon{
    margin: 5px 0px 0px 5px;
    width: 40px;
    height: 40px;
    border: 3px solid #B3C7FF;
    border-radius: 50%;
}

/* Estilo para los botones */
.btn-container{
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 7px 25px 7px 25px;
    background-color: #235789;
    color: rgb(233, 233, 233);
    font-size: larger;
    font-weight: 600;
    cursor: pointer;
}

.btn-container:hover{
    background-color: #2b6ab8;
}