main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 10px;
}

.header{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-around;
}

.header p{
    color: white;
}

.header-product{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--light-blue);
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), 0 calc(100% - 10px));
}

.header-product .img {
   width: 25%;
}

.header-product .img img{
   width: 100%;
   height: 80%;
}

.header-product .info{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    width: 45%;
    position: relative;
    .text{
        font-size: 38px;
    }
}

.header-product .info::before {
    content: '';
    position: absolute;
    width: 69.9%;
    height: 100%;
    transform: rotate(90deg);
    bottom: 0;
    left: -44%;
    right: 0;
    background-color: var(--light-blue);
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 39.76%, 1.43% 41.25%, 2.86% 42.76%, 4.29% 44.30%, 5.71% 45.85%, 7.14% 47.41%, 8.57% 48.97%, 10.00% 50.51%, 11.43% 52.05%, 12.86% 53.55%, 14.29% 55.03%, 15.71% 56.46%, 17.14% 57.85%, 18.57% 59.18%, 20.00% 60.45%, 21.43% 61.65%, 22.86% 62.77%, 24.29% 63.82%, 25.71% 64.78%, 27.14% 65.65%, 28.57% 66.42%, 30.00% 67.10%, 31.43% 67.67%, 32.86% 68.14%, 34.29% 68.50%, 35.71% 68.75%, 37.14% 68.88%, 38.57% 68.91%, 40.00% 68.82%, 41.43% 68.63%, 42.86% 68.32%, 44.29% 67.90%, 45.71% 67.38%, 47.14% 66.75%, 48.57% 66.03%, 50.00% 65.20%, 51.43% 64.28%, 52.86% 63.28%, 54.29% 62.19%, 55.71% 61.02%, 57.14% 59.78%, 58.57% 58.48%, 60.00% 57.12%, 61.43% 55.71%, 62.86% 54.25%, 64.29% 52.76%, 65.71% 51.24%, 67.14% 49.70%, 68.57% 48.14%, 70.00% 46.58%, 71.43% 45.03%, 72.86% 43.48%, 74.29% 41.96%, 75.71% 40.46%, 77.14% 38.99%, 78.57% 37.57%, 80.00% 36.20%, 81.43% 34.88%, 82.86% 33.63%, 84.29% 32.45%, 85.71% 31.34%, 87.14% 30.32%, 88.57% 29.38%, 90.00% 28.53%, 91.43% 27.78%, 92.86% 27.13%, 94.29% 26.59%, 95.71% 26.15%, 97.14% 25.81%, 98.57% 25.59%, 100.00% 25.48%);
}

.header-product .info .text{
    width: 60%;
    z-index: 1;
}

.header-product .info .btn{
    width: 60%;
    z-index: 1;
}

.header-product .info .btn button{
    background-color: var(--pink);
}

.header .product-details{
    background-color: var(--pink);
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    border-radius: 35px;
    gap: 30px;
    font-size: 28px;
    transform: translateY(-50px);
    -webkit-box-shadow: 9px 12px 12px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 9px 12px 12px 0px rgba(0,0,0,0.47);
    box-shadow: 9px 12px 12px 0px rgba(0,0,0,0.47);
}



.header .product-details .stars svg{
    fill: white;
}


.product-container{
    margin: 8vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--pink);
    padding-left: 4vw;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), 0 calc(100% - 10px));
}

.product-container .img{
    width: 50%;
    height: fit-content;
    object-fit: cover;
}

.product-container .img img{
    width: 100%;
    height: 100%;
}

.product-container .info{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container .info .title h2{
    color: var(--light-blue);
    font-size: 38px !important;
}

.product-container .info .content .item{
    color: white;
    fill: white;
    font-size: 24px;
    display: flex;
    justify-content: row;
    padding: 10px 5px;
    gap: 25px;
}

.pets-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh 2vw;
    margin: 4vh 0;
}
.pets-container .title{
    color: var(--light-blue);
    font-size: 38px;
}

.cake-info-container{
    width: 70vw;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 2vh 0;
 
    padding: 0 100px;
    -webkit-box-shadow: 6px 6px 8px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 6px 6px 8px 5px rgba(0,0,0,0.25);
    box-shadow: 6px 6px 8px 5px rgba(0,0,0,0.25);
}

.cake-info-container .cake-info{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

.cake-info .cake-name{
    color: var(--pink);
    font-size: 28px;
    text-align: center;
}

.cake-info .cake-description p{
    color: var(--gray);
    font-family: 'pluto-r';
    font-size: 20px;
    margin: 20px 0;
}

.cake-info .btn{
    display: flex;
    justify-content: center;
}

.cake-info-container .cake-details{
    width: 45%;
    display: flex;
    flex-direction: column;
}

.cake-details .img{
    width: 100%;
    height: 60%;
}

.cake-details .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cake-details .ingredients p{
    color: var(--light-blue);
    font-family: 'pluto-r';
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
}

.cake-details .cake-type {
    margin-top: 20px;
}

.cake-type .ingredient-tabs {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    flex-wrap: wrap;

    position: relative;
}

.cake-type .ingredient-tabs span {
    color: var(--gray);
    font-family: 'pluto-r';
    font-size: 20px;
    margin: 20px 10px;

    position: relative;
    z-index: 2;
}

.cake-type .ingredient-tabs span.active {
    background-color: var(--light-blue);
    color: white;
    border-radius: 20px;
    padding: 5px 15px;

    position: relative;
}

.cake-type .ingredient-tabs span.active::after {
    content: ''; /* Crea el contenido vacío para el pseudo-elemento */
    position: absolute;
    bottom: 0; /* Coloca la flecha justo debajo del span */
    left: 50%; /* Centra la flecha respecto al span */
    transform: translateX(-50%); /* Ajusta el centro de la flecha */
    transform: translateY(-480%); /* Ajusta el centro de la flecha */
    border-left: 10px solid transparent; /* Crea un lado de la flecha transparente */
    border-right: 10px solid transparent; /* Crea el otro lado de la flecha transparente */
    border-top: 10px solid #ccc; /* Crea la parte superior de la flecha con color gris */
}

.cake-type .ingredient-tabs::after {
    content: ''; /* Crea el contenido vacío para el pseudo-elemento */
    position: absolute;
    top: 50%; /* Coloca la línea en la mitad vertical del contenedor */
    left: 0;
    width: 100%; /* Hace que la línea cubra todo el ancho del contenedor */
    height: 1px; /* Define el grosor de la línea gris */
    background-color: var(--gray); /* Color de la línea gris */
    z-index: 0; /* Asegura que la línea esté detrás de los spans */
    transform: translateY(-50%); /* Ajusta la línea para que esté justo en el centro vertical */
}

.cake-count-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 10vh 2vw;
}

.cake-count-container .title{
    color: var(--light-blue);
    font-size: 38px;
}

.cake-count-container .count-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--pink);
    padding: 2vh 3vw 0 3vw;
    border-radius: 25px;
    -webkit-box-shadow: 7px 9px 8px 1px rgba(0,0,0,0.28);
    -moz-box-shadow: 7px 9px 8px 1px rgba(0,0,0,0.28);
    box-shadow: 7px 9px 8px 1px rgba(0,0,0,0.28);
    position: relative;
}

.cake-count-container .count-container::after {
    content: '';
    display: block;
    width: 100%;
    height: 25px; /* Grosor de la línea */
    background-color: var(--brown); /* Color café */
    position: absolute;
    bottom: -20px;
    left: 0; /* Ajusta esta propiedad para que la línea se posicione correctamente debajo del contenedor */
    border-radius: 25px; /* Mantén el mismo borde redondeado */
    -webkit-box-shadow: 7px 9px 8px 1px rgba(0,0,0,0.28);
    -moz-box-shadow: 7px 9px 8px 1px rgba(0,0,0,0.28);
    box-shadow: 7px 9px 8px 1px rgba(0,0,0,0.28);
}

.count-container .count{
    display: flex;
    flex-direction: row;
}

.count h1{
    color: var(--light-blue);
    font-family: 'pluto-r';
    font-weight: 500;
    font-size: 150px;
    text-shadow: 6px 6px 8px rgba(0,0,0,0.35);
}

.count .number{
    padding: 5px 15px;
    margin: 0 10px;
    background-color: white;
    -webkit-box-shadow: 6px 6px 8px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 6px 6px 8px 1px rgba(0,0,0,0.25);
    box-shadow: 6px 6px 8px 1px rgba(0,0,0,0.25);
}

.product-item-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5vh 2vw;
}

.product-item-container .product-img{
    width: 25%;
    height: 50%;
    transform: rotate(5deg);
    margin-right: -15px;
    -webkit-box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.2);
    box-shadow: 10px 10px 8px 0px rgba(0,0,0,0.2);
}

.product-item-container .product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-item-container .product-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;

    gap: 2vh 0;
}

.product-item-container .product-info .name{
    color: var(--light-blue);
    font-size: 28px;
}


.product-item-container .product-info .info{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.product-info .info .description{

    padding: 20px 35px 20px 20px;
    border-radius: 0 55px 55px 0;

    -webkit-box-shadow: 5px 6px 7px 7px rgba(0,0,0,0.15);
-moz-box-shadow: 5px 6px 7px 7px rgba(0,0,0,0.15);
box-shadow: 5px 6px 7px 7px rgba(0,0,0,0.15);
}

.product-info .info .description p{
    color: var(--gray);
    font-size: 18px;
    line-height: 1.5;
    font-family: 'pluto-r';
    margin: 40px 20px 40px 20px;
}

.product-info .info .btn{
    display: flex;
    justify-content: end;
}

.product-info .info .btn button{
    max-width: 38%;
    min-width: 20%;
    font-size: 18px;
    font-family: 'pluto-r';
    padding: 10px 5px;
    border-radius: 55px;
    transform: translateY(-50%);
}

.instagram{
    width: 80vw;
}