main {
    position: relative;
}

.m-decoration {
    width: 100vw;
    height: 400px;
    position: relative;
    overflow: hidden;
    background-color: var(--l-blue);
}

.m-decoration-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../svg/paw.svg');
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 150px 150px; /* Ajusta el tamaño del fondo para el espaciado */
    transform: rotate(45deg); /* Aplica la rotación */
    opacity: 0.2; /* Ajusta la opacidad según sea necesario */
}
