<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/fonts.css">
    <link rel="stylesheet" href="../../resources/css/blog.css">
    <link rel="stylesheet" href="../../resources/css/constantes.css">
    <link rel="stylesheet" href="../../resources/css/components.css">
    <link rel="stylesheet" href="../../resources/css/template.css">
</head>

<body>
    <div class="main-container">
        <div class="header-container">
            <div class="icon">
                <a href="blog.html">
                    <svg width="45" height="45" viewBox="0 0 226 380" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M46 46L172.322 172.322C182.085 182.085 182.085 197.915 172.322 207.678L46 334"
                            stroke="#8fadff" stroke-width="91" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
            </div>
            <h1>BLOG</h1>
            <div class="sp"></div>
        </div>

        <div class="info-container">
            <h1 class="light-blue">5 cosas que puedes hacer en el Día
                Mundial del Perro</h1>
            <h1 class="light-blue2 din">¡21 De Julio es el Día Mundial del Perro! </h2>
            <p>Nuestras vidas no serian iguales sin los perritos ¿no lo crees?</p>
            <p>Por eso desde el 2004 los homenajeamos este día. Todos nuestros peluditos saben que es tener una</p>
            <p> familia que los ama y los cuida, pero muchos otros en nuestro país y resto del mundo, no han tenido</p>
            <p>esa bendición. Y es que según la OMS 7 de cada 10 perritos en el mundo no tienen hogar.</p>
            <p>Por ello queremos reflexionar en decisiones que podríamos tomar hoy al respecto:</p>

            <div class="items-container">
                <div class="info-item-img">
                    <img src="" alt="">
                    <div class="info">
                        <h2>1. Adoptar un peludito.</h2>
                        <p>En  nuestro  país  son  muchos  los  refugios  que  
                            cuentan con cientos de perritos en sus albergues 
                            y cada uno busca una casita que puedan llenar de 
                            amor.  Si,  muchos  han  sufrido  maltrato  o  se  han  
                            enfermado  por  el  abandono,  pero  el  vinculo  que  
                            se  crea  con  ellos  puede  con  ello.  Es  una  noble  y  
                            gran responsabilidad.</p>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info">
                        <h2>2. Apoyar un refugio.</h2>
                        <p>Si, desde donar $1 hasta convertirse en un padrino de un perrito en especifico y porqué no también volver-
                            se  un  embajador  de  su  causa  y  promoviendo  su  labor  de  todas  las  formas  posibles.  Compartiendo  en  
                            nuestras redes sociales sobre la labor y necesidades que tienen, puede ayudar mucho a crear conciencia 
                            y llevarles ayuda. Creemos que cada uno puede aportar un granito de arena para apoyar a aquellos que 
                            han decidido trabajar por ellos cada día</p>
                        <p>Agradecemos  a  Asociación  Milagros  de  Amor,  La  Manada  de  Pick  y  Refugio  Felino  Cat  Shelter    por  su  
                            arduo trabajo y por velar por todos los animalitos que tanto los necesitan.</p>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info">
                        <h2>3. Esterilizar y cuidar a tus mascotas.</h2>
                        <p>Aunque para muchos este sea un tema sensible, la esterilización es una de las mejores herramientas que 
                            ha demostrado su gran eficacia en evitar que el numero de perritos sin hogar aumente. De esta forma se 
                            puede cortar el ciclo de abandono y también la reproducción desmedida. Muchos refugios realizan cam-
                            pañas de esterilización a bajo costo.</p>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info">
                        <h2>4. Denunciar el maltrato animal.</h2>
                        <p>¿Ya conoces como denunciar efectivamente?</p>
                        <p>Primero debes tener pruebas del delito. También conocer la hora y fecha en que ocurrió el hecho, para 
                            luego poner la denuncia en la alcaldía correspondiente. Si ellos no actúan, entonces puedes contactar al 
                            IBA (Instituto de Bienestar Animal de El Salvador)</p>
                    </div>
                </div>
                <div class="info-item">
                    <div class="info">
                        <h2>5. Cuidarlos en la calle.</h2>
                        <p>Si tienes la oportunidad de darle agüita, comida o resguardo a un perrito en las calles, por favor ¡hazlo! Si 
                            manejas, hazlo con cuidado si observas perritos sueltos alrededor. Déjalos cruzar las calles y frena para 
                            no lastimarlos. La mayoría de ocasiones ellos están en busca de satisfacer sus necesidades mas básicas</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="img-container">
            <img src="../../resources/img/diamundial.png" alt="">
        </div>
    </div>

    <script src="../../controllers/template.js"></script>
</body>

</html>