<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/fonts.css">
    <link rel="stylesheet" href="../../resources/css/constantes.css">
    <link rel="stylesheet" href="../../resources/css/components.css">
    <link rel="stylesheet" href="../../resources/css/template.css">
    <link rel="stylesheet" href="../../resources/css/carrito.css">
</head>

<body>
    <div class="main-container">
        <div class="header-container">
            <h1>Carrito de compras</h1>
        </div>
        <div class="carrito">
            <div class="product-info-container">
                <div class="content">
                    <div class="columns-header">
                        <div class="product">
                            <h1>Producto</h1>
                        </div>
                        <div class="quantity">
                            <h1>Cantidad</h1>
                        </div>
                        <div class="total">
                            <h1>Total</h1>
                        </div>
                    </div>
                    <div class="product-container">
                        <div class="product-card">
                            <div class="product-info">
                                <div class="product-img">
                                    <img src="" alt="">
                                </div>
                                <div class="product">
                                    <h2>Lorem ipsum dolor sit</h2>
                                    <h2>$4.50</h2>
                                </div>
                            </div>
                            <div class="quantity">
                                <div class="input-container">
                                    <button class="decrement">-</button>
                                    <input type="number" class="number-input" value="1" min="1">
                                    <button class="increment">+</button>
                                </div>
                            </div>
                            <div class="total">
                                <h2>$4.50</h2>
                                <div class="delete">
                                    <svg width="38" height="40" viewBox="0 0 18 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M3 5H2V18C2 18.5304 2.21071 19.0391 2.58579 19.4142C2.96086 19.7893 3.46957 20 4 20H14C14.5304 20 15.0391 19.7893 15.4142 19.4142C15.7893 19.0391 16 18.5304 16 18V5H3ZM13.618 2L12 0H6L4.382 2H0V4H18V2H13.618Z"
                                            fill="white" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="product-card">
                            <div class="product-info">
                                <div class="product-img">
                                    <img src="" alt="">
                                </div>
                                <div class="product">
                                    <h2>Lorem ipsum dolor sit</h2>
                                    <h2>$4.50</h2>
                                </div>
                            </div>
                            <div class="quantity">
                                <div class="input-container">
                                    <button class="decrement">-</button>
                                    <input type="number" class="number-input" value="1" min="1">
                                    <button class="increment">+</button>
                                </div>
                            </div>
                            <div class="total">
                                <h2>$4.50</h2>
                                <div class="delete">
                                    <svg width="38" height="40" viewBox="0 0 18 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M3 5H2V18C2 18.5304 2.21071 19.0391 2.58579 19.4142C2.96086 19.7893 3.46957 20 4 20H14C14.5304 20 15.0391 19.7893 15.4142 19.4142C15.7893 19.0391 16 18.5304 16 18V5H3ZM13.618 2L12 0H6L4.382 2H0V4H18V2H13.618Z"
                                            fill="white" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="product-card">
                            <div class="product-info">
                                <div class="product-img">
                                    <img src="" alt="">
                                </div>
                                <div class="product">
                                    <h2>Lorem ipsum dolor sit</h2>
                                    <h2>$4.50</h2>
                                </div>
                            </div>
                            <div class="quantity">
                                <div class="input-container">
                                    <button class="decrement">-</button>
                                    <input type="number" class="number-input" value="1" min="1">
                                    <button class="increment">+</button>
                                </div>
                            </div>
                            <div class="total">
                                <h2>$4.50</h2>
                                <div class="delete">
                                    <svg width="38" height="40" viewBox="0 0 18 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M3 5H2V18C2 18.5304 2.21071 19.0391 2.58579 19.4142C2.96086 19.7893 3.46957 20 4 20H14C14.5304 20 15.0391 19.7893 15.4142 19.4142C15.7893 19.0391 16 18.5304 16 18V5H3ZM13.618 2L12 0H6L4.382 2H0V4H18V2H13.618Z"
                                            fill="white" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="pedido-info">
                <div class="content">
                    <div class="header">
                        <h1>Resumen del pedido</h1>
                        <div class="line"></div>
                    </div>

                    <div class="detalles">
                        <div class="item">
                            <h2>Subtotal:</h2>
                            <h2>$4.50</h2>
                        </div>
                        <div class="item">
                            <h2>Impuestos:</h2>
                            <h2>------</h2>
                        </div>
                        <div class="item">
                            <h2>Envío:</h2>
                            <h2>------</h2>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="line"></div>
                        <div class="total">
                            <h2>Total del pedido:</h2>
                            <h2>$13.50</h2>
                        </div>
                    </div>

                    <div class="finish">
                        <a href="facturacion.html">
                            <button>Finalizar la compra</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="suggested-container">
            <h1 class="light-blue2">¡TU PELUDO TIENE QUE PROBARLOS!</h1>
            <div class="line"></div>

            <!-- Caja dónde se mostrarán las cards -->
            <div class="featured-cards-container-box">

                <!-- Contenedor de la card -->
                <div class="featured-card-container">
                    <!-- Cuerpo de la card -->
                    <div class="featured-card-body">
                        <!-- Imagen de la card -->
                        <div class="featured-card-img">
                            <img src="" alt="" />
                        </div>
                        <!-- Botones de acción -->
                        <div class="featured-card-actions">
                            <svg width="35" height="40" viewBox="0 0 22 25" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.74181 20.5545C4.94143 22 7.17414 22 11.6395 22H12.3607C16.8261 22 19.0589 22 20.2585 20.5545M3.74181 20.5545C2.54219 19.1091 2.95365 16.9146 3.77657 12.5257C4.36179 9.40452 4.65441 7.84393 5.7653 6.92196M3.74181 20.5545C3.74181 20.5545 3.74181 20.5545 3.74181 20.5545ZM20.2585 20.5545C21.4581 19.1091 21.0466 16.9146 20.2237 12.5257C19.6385 9.40452 19.3459 7.84393 18.235 6.92196M20.2585 20.5545C20.2585 20.5545 20.2585 20.5545 20.2585 20.5545ZM18.235 6.92196C17.1241 6 15.5363 6 12.3607 6H11.6395C8.46398 6 6.8762 6 5.7653 6.92196M18.235 6.92196C18.235 6.92196 18.235 6.92196 18.235 6.92196ZM5.7653 6.92196C5.7653 6.92196 5.7653 6.92196 5.7653 6.92196Z"
                                    stroke="#93affd" stroke-width="1.5" />
                                <path d="M9 6V5C9 3.34315 10.3431 2 12 2C13.6569 2 15 3.34315 15 5V6" stroke="#93affd"
                                    stroke-width="1.5" stroke-linecap="round" />
                            </svg>
                            <div></div>
                            <svg class="favorite" width="37" height="34" viewBox="0 0 34 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="svg-header-fixer"
                                    d="M28.8382 1C22.5832 1 19.5 7.18178 19.5 7.18178C19.5 7.18178 16.4168 1 10.1618 1C5.07848 1 1.05301 5.26351 1.00098 10.351C0.895006 20.9112 9.35734 28.4211 18.6329 34.7323C18.8886 34.9067 19.1907 35 19.5 35C19.8093 35 20.1115 34.9067 20.3671 34.7323C29.6417 28.4211 38.104 20.9112 37.999 10.351C37.947 5.26351 33.9215 1 28.8382 1Z"
                                    stroke="#93affd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <!-- Título de la card -->
                        <div class="featured-card-title">
                            <h1>Cake Corazón FurryLove</h1>
                        </div>
                        <!-- Precios -->
                        <div class="featured-card-prices">
                            <p>$9.50 – $20.00</p>
                        </div>
                        <div class="featured-card-btn">
                            <button class="comprar">COMPRAR</button>
                        </div>
                    </div>
                </div>

                <!-- Contenedor de la card -->
                <div class="featured-card-container">
                    <!-- Cuerpo de la card -->
                    <div class="featured-card-body">
                        <!-- Imagen de la card -->
                        <div class="featured-card-img">
                            <img src="" alt="" />
                        </div>
                        <!-- Botones de acción -->
                        <div class="featured-card-actions">
                            <svg width="35" height="40" viewBox="0 0 22 25" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.74181 20.5545C4.94143 22 7.17414 22 11.6395 22H12.3607C16.8261 22 19.0589 22 20.2585 20.5545M3.74181 20.5545C2.54219 19.1091 2.95365 16.9146 3.77657 12.5257C4.36179 9.40452 4.65441 7.84393 5.7653 6.92196M3.74181 20.5545C3.74181 20.5545 3.74181 20.5545 3.74181 20.5545ZM20.2585 20.5545C21.4581 19.1091 21.0466 16.9146 20.2237 12.5257C19.6385 9.40452 19.3459 7.84393 18.235 6.92196M20.2585 20.5545C20.2585 20.5545 20.2585 20.5545 20.2585 20.5545ZM18.235 6.92196C17.1241 6 15.5363 6 12.3607 6H11.6395C8.46398 6 6.8762 6 5.7653 6.92196M18.235 6.92196C18.235 6.92196 18.235 6.92196 18.235 6.92196ZM5.7653 6.92196C5.7653 6.92196 5.7653 6.92196 5.7653 6.92196Z"
                                    stroke="#93affd" stroke-width="1.5" />
                                <path d="M9 6V5C9 3.34315 10.3431 2 12 2C13.6569 2 15 3.34315 15 5V6" stroke="#93affd"
                                    stroke-width="1.5" stroke-linecap="round" />
                            </svg>
                            <div></div>
                            <svg class="favorite" width="37" height="34" viewBox="0 0 34 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="svg-header-fixer"
                                    d="M28.8382 1C22.5832 1 19.5 7.18178 19.5 7.18178C19.5 7.18178 16.4168 1 10.1618 1C5.07848 1 1.05301 5.26351 1.00098 10.351C0.895006 20.9112 9.35734 28.4211 18.6329 34.7323C18.8886 34.9067 19.1907 35 19.5 35C19.8093 35 20.1115 34.9067 20.3671 34.7323C29.6417 28.4211 38.104 20.9112 37.999 10.351C37.947 5.26351 33.9215 1 28.8382 1Z"
                                    stroke="#93affd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <!-- Título de la card -->
                        <div class="featured-card-title">
                            <h1>Cake Corazón FurryLove</h1>
                        </div>
                        <!-- Precios -->
                        <div class="featured-card-prices">
                            <p>$9.50 – $20.00</p>
                        </div>
                        <div class="featured-card-btn">
                            <button class="comprar">COMPRAR</button>
                        </div>
                    </div>
                </div>
                <!-- Contenedor de la card -->
                <div class="featured-card-container">
                    <!-- Cuerpo de la card -->
                    <div class="featured-card-body">
                        <!-- Imagen de la card -->
                        <div class="featured-card-img">
                            <img src="" alt="" />
                        </div>
                        <!-- Botones de acción -->
                        <div class="featured-card-actions">
                            <svg width="35" height="40" viewBox="0 0 22 25" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.74181 20.5545C4.94143 22 7.17414 22 11.6395 22H12.3607C16.8261 22 19.0589 22 20.2585 20.5545M3.74181 20.5545C2.54219 19.1091 2.95365 16.9146 3.77657 12.5257C4.36179 9.40452 4.65441 7.84393 5.7653 6.92196M3.74181 20.5545C3.74181 20.5545 3.74181 20.5545 3.74181 20.5545ZM20.2585 20.5545C21.4581 19.1091 21.0466 16.9146 20.2237 12.5257C19.6385 9.40452 19.3459 7.84393 18.235 6.92196M20.2585 20.5545C20.2585 20.5545 20.2585 20.5545 20.2585 20.5545ZM18.235 6.92196C17.1241 6 15.5363 6 12.3607 6H11.6395C8.46398 6 6.8762 6 5.7653 6.92196M18.235 6.92196C18.235 6.92196 18.235 6.92196 18.235 6.92196ZM5.7653 6.92196C5.7653 6.92196 5.7653 6.92196 5.7653 6.92196Z"
                                    stroke="#93affd" stroke-width="1.5" />
                                <path d="M9 6V5C9 3.34315 10.3431 2 12 2C13.6569 2 15 3.34315 15 5V6" stroke="#93affd"
                                    stroke-width="1.5" stroke-linecap="round" />
                            </svg>
                            <div></div>
                            <svg class="favorite" width="37" height="34" viewBox="0 0 34 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="svg-header-fixer"
                                    d="M28.8382 1C22.5832 1 19.5 7.18178 19.5 7.18178C19.5 7.18178 16.4168 1 10.1618 1C5.07848 1 1.05301 5.26351 1.00098 10.351C0.895006 20.9112 9.35734 28.4211 18.6329 34.7323C18.8886 34.9067 19.1907 35 19.5 35C19.8093 35 20.1115 34.9067 20.3671 34.7323C29.6417 28.4211 38.104 20.9112 37.999 10.351C37.947 5.26351 33.9215 1 28.8382 1Z"
                                    stroke="#93affd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <!-- Título de la card -->
                        <div class="featured-card-title">
                            <h1>Cake Corazón FurryLove</h1>
                        </div>
                        <!-- Precios -->
                        <div class="featured-card-prices">
                            <p>$9.50 – $20.00</p>
                        </div>
                        <div class="featured-card-btn">
                            <button class="comprar">COMPRAR</button>
                        </div>
                    </div>
                </div>
                <!-- Contenedor de la card -->
                <div class="featured-card-container">
                    <!-- Cuerpo de la card -->
                    <div class="featured-card-body">
                        <!-- Imagen de la card -->
                        <div class="featured-card-img">
                            <img src="" alt="" />
                        </div>
                        <!-- Botones de acción -->
                        <div class="featured-card-actions">
                            <svg width="35" height="40" viewBox="0 0 22 25" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.74181 20.5545C4.94143 22 7.17414 22 11.6395 22H12.3607C16.8261 22 19.0589 22 20.2585 20.5545M3.74181 20.5545C2.54219 19.1091 2.95365 16.9146 3.77657 12.5257C4.36179 9.40452 4.65441 7.84393 5.7653 6.92196M3.74181 20.5545C3.74181 20.5545 3.74181 20.5545 3.74181 20.5545ZM20.2585 20.5545C21.4581 19.1091 21.0466 16.9146 20.2237 12.5257C19.6385 9.40452 19.3459 7.84393 18.235 6.92196M20.2585 20.5545C20.2585 20.5545 20.2585 20.5545 20.2585 20.5545ZM18.235 6.92196C17.1241 6 15.5363 6 12.3607 6H11.6395C8.46398 6 6.8762 6 5.7653 6.92196M18.235 6.92196C18.235 6.92196 18.235 6.92196 18.235 6.92196ZM5.7653 6.92196C5.7653 6.92196 5.7653 6.92196 5.7653 6.92196Z"
                                    stroke="#93affd" stroke-width="1.5" />
                                <path d="M9 6V5C9 3.34315 10.3431 2 12 2C13.6569 2 15 3.34315 15 5V6" stroke="#93affd"
                                    stroke-width="1.5" stroke-linecap="round" />
                            </svg>
                            <div></div>
                            <svg class="favorite" width="37" height="34" viewBox="0 0 34 36" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="svg-header-fixer"
                                    d="M28.8382 1C22.5832 1 19.5 7.18178 19.5 7.18178C19.5 7.18178 16.4168 1 10.1618 1C5.07848 1 1.05301 5.26351 1.00098 10.351C0.895006 20.9112 9.35734 28.4211 18.6329 34.7323C18.8886 34.9067 19.1907 35 19.5 35C19.8093 35 20.1115 34.9067 20.3671 34.7323C29.6417 28.4211 38.104 20.9112 37.999 10.351C37.947 5.26351 33.9215 1 28.8382 1Z"
                                    stroke="#93affd" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <!-- Título de la card -->
                        <div class="featured-card-title">
                            <h1>Cake Corazón FurryLove</h1>
                        </div>
                        <!-- Precios -->
                        <div class="featured-card-prices">
                            <p>$9.50 – $20.00</p>
                        </div>
                        <div class="featured-card-btn">
                            <button class="comprar">COMPRAR</button>
                        </div>
                    </div>
                </div>


            </div>
            <button>VER MÁS</button>
        </div>
    </div>


    <script src="../../controllers/carrito.js"></script>
    <script src="../../controllers/template.js"></script>
</body>

</html>