<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miguitas Pet Treats</title>
</head>
<body>
    <div class="main-container">
        <div class="category-header">
            <div class="header-button">
                <div class="icon">

                </div>
            </div>
            <div class="header-img">
                <img src="../../resources/img/pup-icon.png" alt="" width="15%" height="15%">
            </div>
            <div class="category-name">
                <h1>For Pups</h1>
            </div>
        </div>

        <div class="subcategory-container">
            <div class="subcategory">
                <h2>SALE</h2>
            </div>
            <div class="subcategory">
                <h2>NEW</h2>
            </div>
            <div class="subcategory">
                <h2>CAKE</h2>
            </div>
            <div class="subcategory">
                <h2>PAWTY PACKS</h2>
            </div>
            <div class="subcategory">
                <h2>BATH & CLEANUP</h2>
            </div>
            <div class="subcategory">
                <h2>SUPPLEMENTSBATH </h2>
            </div>
            <div class="subcategory">
                <h2>PUPCAKESTREATS</h2>
            </div>
            <div class="subcategory">
                <h2>FROZEN TREATS</h2>
            </div>
            <div class="subcategory">
                <h2>TOYS</h2>
            </div>
            <div class="subcategory">
                <h2>ACCESSORIES</h2>
            </div>
            <div class="subcategory">
                <h2>COOKIES</h2>
            </div>
            <div class="subcategory">
                <h2>PUPCAKESTREATS</h2>
            </div>
        </div>
    </div>
</body>
</html>