<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Enlaces a las hojas de estilo CSS -->
    <link rel="stylesheet" href="../../resources/css/fonts.css">
    <link rel="stylesheet" href="../../resources/css/category.css">
    <link rel="stylesheet" href="../../resources/css/constantes.css">
    <link rel="stylesheet" href="../../resources/css/components.css">
    <link rel="stylesheet" href="../../resources/css/template.css">
</head>

<body>

    <div class="main-content">
        <!-- Contenedor principal para las categorías -->
        <div class="category-container responsive">
            <div class="category">
                <div class="category-img gift">
                    <img src="../../resources/img/giftcard.png" alt="">
                </div>
                <div class="category-name">
                    <h1 class="category">Gift Card</h1>
                </div>

            </div>
            <div class="category">
                <div class="category-img">
                    <a href="category-pups.html">
                        <img src="../../resources/img/pups.png" alt="">
                    </a>
                </div>
                <div class="category-name">
                    <a href="category-pups.html">
                        <h1 class="category">For Pups</h1>
                    </a>
                </div>
            </div>
            <div class="category">
                <div class="category-img">
                    <img src="../../resources/img/kitties.png" alt="">
                </div>
                <div class="category-name">
                    <h1 class="category">For Kitties</h1>
                </div>
            </div>
            <div class="category">
                <div class="category-img">
                    <img src="../../resources/img/petlover.png" alt="">
                </div>
                <div class="category-name">
                    <h1 class="category">Petlover
                        Accesories</h1>
                </div>
            </div>
        </div>
        
        <!-- Contenedor para subcategorías de "For Pups" -->
        <div class="subcategory-box">
            <h1>For Pups</h1>
            <div class="subcategory-container">
                <div class="subcategory">
                    <h2>SALE</h2>
                </div>
                <div class="subcategory">
                    <h2>NEW</h2>
                </div>
                <div class="subcategory">
                    <h2>CAKE</h2>
                </div>
                <div class="subcategory">
                    <h2>PAWTY PACKS</h2>
                </div>
                <div class="subcategory">
                    <h2>BATH & CLEANUP</h2>
                </div>
                <div class="subcategory">
                    <h2>SUPPLEMENTS</h2>
                </div>
                <div class="subcategory">
                    <h2>TREATS</h2>
                </div>
                <div class="subcategory">
                    <h2>FROZEN TREATS</h2>
                </div>
                <div class="subcategory">
                    <h2>TOYS</h2>
                </div>
                <div class="subcategory">
                    <h2>ACCESSORIES</h2>
                </div>
                <div class="subcategory">
                    <h2>COOKIES</h2>
                </div>
                <div class="subcategory">
                    <h2>PUPCAKES</h2>
                </div>
            </div>
        </div>

        <!-- Contenedor para subcategorías de "For Kitties" -->
        <div class="subcategory-box">
            <h1>For Kitties</h1>
            <div class="subcategory-container">
                <div class="subcategory">
                    <h2>CAKE</h2>
                </div>
                <div class="subcategory">
                    <h2>COOKIES</h2>
                </div>
                <div class="subcategory">
                    <h2>KITTYCAKES</h2>
                </div>
                <div class="subcategory">
                    <h2>PAWTY PACKS</h2>
                </div>
                <div class="subcategory">
                    <h2>TREATS</h2>
                </div>
                <div class="subcategory">
                    <h2>TOYS</h2>
                </div>
                <div class="subcategory">
                    <h2>ACCESSORIES</h2>
                </div>
                <div class="subcategory">
                    <h2>BATH & CLEANUP</h2>
                </div>
                <div class="subcategory">
                    <h2>SUPPLEMENTS</h2>
                </div>
            </div>
        </div>

    </div>

    <script src="../../controllers/template.js"></script>
</body>

</html>
