<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/fonts.css">
    <link rel="stylesheet" href="../../resources/css/terms-conditions.css">
    <link rel="stylesheet" href="../../resources/css/constantes.css">
    <link rel="stylesheet" href="../../resources/css/components.css">
    <link rel="stylesheet" href="../../resources/css/template.css">
</head>

<body>
    <div class="main-container">
        <div class="header-container">
            <div class="icon">
                <a href="index.html">
                    <svg width="45" height="45" viewBox="0 0 226 380" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M46 46L172.322 172.322C182.085 182.085 182.085 197.915 172.322 207.678L46 334"
                            stroke="#8fadff" stroke-width="91" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
            </div>
            <h1>Términos y
                condiciones</h1>
        </div>

        <div class="terms-conditions-container">
            <h1>Condiciones de uso</h1>
            <div class="info">
                <p class="bottom">Miguitassv.com y la marca comercial Miguitas Pet Treats® pertenecen a Patricia Eugenia
                    Solorzano Rivera, con: NIT: 0614-120690-129-7
                </p>
                <p><b class="light-blue">Domicilio:</b> Calle Metzti Pje 5 #41, Col. Cumbres de Cuscatlán, Antiguo Cuscatlán,
                    La Libertad, El Salvador.
                </p>
                <p>
                    <b class="light-blue">Teléfono:</b> 2243-4190
                </p>
                <p>
                    <b class="light-blue">Whatsapp:</b> 7910-1241
                </p>
                <p>
                    <b class="light-blue">Correo Electrónico:</b> administracion@miguitassv.com
                </p>
                <p>
                    <b class="light-blue">Para envío del producto:</b> Ver Políticas de Envío
                </p>

                <p class="margin">
                    <b class="light-blue">Métodos de Pago:</b> Las formas de pago autorizadas desde Miguitassv.com son:
                </p>
                <ul class="list">
                    <li class="list-item">Tarjetas de Crédito y Débito (Visa y Mastercard emitidas por cualquier banco) por medio
                        de la Red Serfinsa.</li>
                    <li class="list-item">Transferencia bancaria.</li>
                    <li class="list-item">Cuenta de Ahorro Banco Agrícola a nombre de Patricia Eugenia Solorzano Rivera
                        3420-3489-14</li>
                    <li class="list-item">Cuenta Corriente Banco de América Central a nombre de Patricia Eugenia Solorzano
                        Rivera 127-655-397</li>
                    <li class="list-item">Transferencia con código QR de Banco Agrícola</li>
                    <li class="list-item">NO se acepta efectivo contra entrega.</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="../../controllers/template.js"></script>
</body>

</html>