<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturacion</title>
    <link rel="stylesheet" href="../../resources/css/constantes.css">
</head>

<body>
    <div class="main-container">
        <div class="info-container">
            <h1 class="title">Horarios de Entrega</h1>
            <p>
                A Domicilio:
                Martes a Viernes 10.00am a 3.00pm y Sábados de 9.00am a 4.00pm
            </p>
            <p>
                En PAWstry Shop en La Sultana:
                Martes a Viernes 11.00am a 6.00pm y Sábados 10.00am a 4.00pm
            </p>
        </div>
        <div class="facturation-container">
            <h1 class="facturation-container-title">DETALLES DE FACTURACIÓN</h1>
            <div class="facturation-client-info">
                <input type="text" placeholder="Nombre" pattern="[A-Za-z]+">
            </div>
        </div>
        <div class="buttons-container">

        </div>
    </div>
</body>

</html>