<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../resources/css/fonts.css">
    <link rel="stylesheet" href="../../resources/css/favorite.css">
    <link rel="stylesheet" href="../../resources/css/constantes.css">
    <link rel="stylesheet" href="../../resources/css/components.css">
    <link rel="stylesheet" href="../../resources/css/template.css">
</head>

<body>

    <div class="main-container">
        <div class="header-container">
            <div class="icon">
                <a href="index.html">
                    <svg width="45" height="45" viewBox="0 0 226 380" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M46 46L172.322 172.322C182.085 182.085 182.085 197.915 172.322 207.678L46 334"
                            stroke="#8fadff" stroke-width="91" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
            </div>
            <h1>Favoritos</h1>
        </div>

        <!-- Contenedor donde se mostrarán las cards de los productos favoritos (favorite-card) -->
        <div class="favorite-card-container-box">
            <div class="none-products">
                <h1>Agrega tus productos favoritos</h1>
                <a href="tienda.html">
                    <button>IR A LA TIENDA</button>
                </a>
            </div>
        </div>

        <div class="suggested-container">
            <h1>¡ENCUENTRA AQUÍ TUS FAVORITOS!</h1>
            <div class="line"></div>

            <div class="suggested-container-box">
                <div class="prev">
                    <svg width="40" height="45" viewBox="0 0 192 336" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 24L168 168L24 312" stroke="var(--dark-blue)" stroke-width="48"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <!-- Contenedor dónde se mostrarán las cards de productos sugeridos -->
                <div class="suggested-card-container-box">

                    <!-- Contenedor de la card -->
                    <div class="suggested-card-container">
                        <!-- Imágen de la card -->
                        <div class="suggested-card-img">
                            <img src="" alt="">
                        </div>
                        <!-- Información del producto -->
                        <div class="suggested-card-info">

                            <div class="product">
                                <!-- Nombre del producto -->
                                <h2 class="product-name">Lorem ipsum dolor sit</h2>
                                <!-- Precio del producto -->
                                <h2 class="product-price">$4.50</h2>
                            </div>

                            <div class="social-interaction">
                                <svg width="37" height="34" viewBox="0 0 39 36" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="svg-header-fixer"
                                        d="M28.8382 1C22.5832 1 19.5 7.18178 19.5 7.18178C19.5 7.18178 16.4168 1 10.1618 1C5.07848 1 1.05301 5.26351 1.00098 10.351C0.895006 20.9112 9.35734 28.4211 18.6329 34.7323C18.8886 34.9067 19.1907 35 19.5 35C19.8093 35 20.1115 34.9067 20.3671 34.7323C29.6417 28.4211 38.104 20.9112 37.999 10.351C37.947 5.26351 33.9215 1 28.8382 1Z"
                                        stroke="#254183" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>
                    </div>

                    <!-- Contenedor de la card -->
                    <div class="suggested-card-container">
                        <!-- Imágen de la card -->
                        <div class="suggested-card-img">
                            <img src="" alt="">
                        </div>
                        <!-- Información del producto -->
                        <div class="suggested-card-info">

                            <div class="product">
                                <!-- Nombre del producto -->
                                <h2 class="product-name">Lorem ipsum dolor sit</h2>
                                <!-- Precio del producto -->
                                <h2 class="product-price">$4.50</h2>
                            </div>

                            <div class="social-interaction">
                                <svg width="37" height="34" viewBox="0 0 39 36" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="svg-header-fixer"
                                        d="M28.8382 1C22.5832 1 19.5 7.18178 19.5 7.18178C19.5 7.18178 16.4168 1 10.1618 1C5.07848 1 1.05301 5.26351 1.00098 10.351C0.895006 20.9112 9.35734 28.4211 18.6329 34.7323C18.8886 34.9067 19.1907 35 19.5 35C19.8093 35 20.1115 34.9067 20.3671 34.7323C29.6417 28.4211 38.104 20.9112 37.999 10.351C37.947 5.26351 33.9215 1 28.8382 1Z"
                                        stroke="#254183" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>
                    </div>

                    <!-- Contenedor de la card -->
                    <div class="suggested-card-container">
                        <!-- Imágen de la card -->
                        <div class="suggested-card-img">
                            <img src="" alt="">
                        </div>
                        <!-- Información del producto -->
                        <div class="suggested-card-info">

                            <div class="product">
                                <!-- Nombre del producto -->
                                <h2 class="product-name">Lorem ipsum dolor sit</h2>
                                <!-- Precio del producto -->
                                <h2 class="product-price">$4.50</h2>
                            </div>

                            <div class="social-interaction">
                                <svg width="37" height="34" viewBox="0 0 39 36" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path class="svg-header-fixer"
                                        d="M28.8382 1C22.5832 1 19.5 7.18178 19.5 7.18178C19.5 7.18178 16.4168 1 10.1618 1C5.07848 1 1.05301 5.26351 1.00098 10.351C0.895006 20.9112 9.35734 28.4211 18.6329 34.7323C18.8886 34.9067 19.1907 35 19.5 35C19.8093 35 20.1115 34.9067 20.3671 34.7323C29.6417 28.4211 38.104 20.9112 37.999 10.351C37.947 5.26351 33.9215 1 28.8382 1Z"
                                        stroke="#254183" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="next">
                    <svg width="40" height="45" viewBox="0 0 192 336" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 24L168 168L24 312" stroke="var(--dark-blue)" stroke-width="48"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
        </div>

        <div class="img-container">
            <img src="../../resources/img/tarifario.png" alt="">
        </div>
    </div>

    <script src="../../controllers/template.js"></script>
</body>

</html>