<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/pluto.css">
    <link rel="stylesheet" href="../../resources/css/terms-conditions.css">
    <link rel="stylesheet" href="../../resources/css/constantes.css">
    <link rel="stylesheet" href="../../resources/css/cards.css">
    <link rel="stylesheet" href="../../resources/css/index.css">
</head>

<body>
    <div class="main-container">
        <div class="header-container">
            <div class="icon">
                <a href="index.html">
                    <svg width="45" height="45" viewBox="0 0 226 380" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M46 46L172.322 172.322C182.085 182.085 182.085 197.915 172.322 207.678L46 334"
                            stroke="#8fadff" stroke-width="91" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
            </div>
            <h1>Términos y
                condiciones</h1>
        </div>

        <div class="terms-conditions-container">
            <h1>Garantías y Cambios</h1>
            <div class="info">
                <b class="title light-blue">Garantía del Producto</b>
                <p>Productos elaborados por Miguitas Pet Treats®:</p>
                <p class="margin">
                    Miguitas Pet Treats® garantiza que los ingredientes que utiliza en la fabricación de sus
                    productos son de alta calidad, seguros y aportan nutricionalmente a la salud de las
                    mascotas. Miguitas Pet Treats® ha formulado sus productos, tomando muy en cuenta,
                    que los clientes aman a sus mascotas, y no les darían nada menos que lo mejor. Por
                    ello, Miguitas Pet Treats® en consulta con su veterinario regente ofrecen a sus clientes
                    una garantía limitada pero total sobre sus productos</p>
                <p class="margin"></p>
                <b class="title light-blue">Condiciones:</b>
                <ul class="list">
                    <li class="list-item">El cliente debe hacer su reclamo dentro de las dos horas siguientes al recibo
                        del producto alimenticio en el día que se entregó.</li>
                    <li class="list-item">Presentar el comprobante de compra original (correo de confirmación de pedido
                        recibido) por medio de correo electrónico o whatsapp. Se evaluará la solicitud y se enviará
                        respuesta en 24 horas. Asimismo se deberá entregar el producto en su empaque original.</li>
                    <li class="list-item">Los costos de devolución del producto a Miguitas Pet Treats® para someterlo a
                        garantía,
                        correrán por parte del cliente.</li>
                    <li class="list-item">No aplica la garantía si el producto presenta daños o defectos que no sean de
                        fabricación,
                        elaboración o entrega. <b class="gray">Eje:</b> daño por mal manejo o deterioro sufrido por siniestros o accidentes,
                        por modificaciones, etc.</li>
                </ul>
            </div>
        </div>
    </div>

    <script src="../../controllers/template.js"></script>
</body>

</html>