<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../resources/css/fonts.css">
    <link rel="stylesheet" href="../../resources/css/constantes.css">
    <link rel="stylesheet" href="../../resources/css/template.css">
    <link rel="stylesheet" href="../../resources/css/info-productos.css">
</head>
<body>
    <main>
        <div class="product-container">
            <div class="product-image-container">
                <div class="img-main">
                    <img src="" alt="">
                </div>
                <div class="products-all-images-carrousel">
                    <span class="left"> < </span>
                    <div class="image-container">
                        <div class="img">
                            <img src="" alt="">
                        </div>
                        <div class="img">
                            <img src="" alt="">
                        </div>
                        <div class="img">
                            <img src="" alt="">
                        </div>
                    </div>
                    <span class="right"> > </span>
                </div>
            </div>

            <div class="product-info-container">
                <span class="tittle">Bandanas</span>
                <span class="price">$3.50 - $4.50</span>
                <p class="description">Bandanas para poner guapa a tu mascota. Con frase Birthday Girl o Boy en blanco y huellita plateada.</p>
                <div class="category-indicator-container">
                    <span class="category-indicator">Categoría:</span>
                    <span class="category">Accesories</span>
                </div>
                <div class="info-chooser">
                    <div class="size">
                        <span>S</span>
                        <span>M</span>
                        <span>L</span>
                    </div>
                    <div class="color">
                        <div class="indicator">Color: </div>
                        <select id="" class="color-chooser">
                            <option value="">Elige una opción</option>
                        </select>
                    </div>
                </div>
                <div class="options">
                    <div class="quantity">
                        <div class="minus">-</div>
                        <div class="num">1</div>
                        <div class="plus">+</div>
                    </div>

                    <button>Añadir al Carrito</button>

                    <button>Comprar Ahora</button>
                </div>

                <div class="info-chooser-v">
                    <span class="selected">Descripción</span>
                    <span>Información Adicional</span>
                    <span>Valoraciones</span>
                </div>
                <hr class="info-chooser-v-dev">
                <div class="info-viewer">
                    <p class="main">
                    Bandanas (pañoletas) para poner guapo a tu perrito en su día de cumpleaños. Diferentes tallas y colores. Con frase Birthday Girl o Boy en blanco y huellita plateada.
                    </p><br>
                    <p>Productos elaborados en El Salvador</p>
                </div>
            </div>
        </div>

        <div class="carrousel">
            <span class="tittle">También te puede gustar</span>
            <hr>
            <div class="container">
                <span class="left"> < </span>
                <div class="main">
                    <div class="card">
                        <img src="../../resources/img/image-test.jpg" alt="">
                        <div class="card-info">
                                <span>Nombre Producto</span>
                                <span>$4.50</span>
                        </div>
                    </div>

                    <div class="card">
                        <img src="../../resources/img/image-test.jpg" alt="">
                        <div class="card-info">
                                <span>Nombre Producto</span>
                                <span>$4.50</span>
                        </div>
                    </div>
                </div>
                <span class="right"> > </span>
            </div>
        </div>
    </main>

    <script src="../../controllers/template.js"></script>
</body>
</html>
