<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/fonts.css">
    <link rel="stylesheet" href="../../resources/css/terms-conditions.css">
    <link rel="stylesheet" href="../../resources/css/constantes.css">
    <link rel="stylesheet" href="../../resources/css/components.css">
    <link rel="stylesheet" href="../../resources/css/template.css">
</head>

<body>
    <div class="main-container">
        <div class="header-container">
            <div class="icon">
                <a href="index.html">
                    <svg width="45" height="45" viewBox="0 0 226 380" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M46 46L172.322 172.322C182.085 182.085 182.085 197.915 172.322 207.678L46 334"
                            stroke="#8fadff" stroke-width="91" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
            </div>
            <h1>Términos y
                condiciones</h1>
        </div>

        <div class="terms-conditions-container">
            <h1>Política de Privacidad</h1>
            <div class="info">

                <p class="margin">Sabemos lo importante que es mantener su información confidencial.
                    Por eso, en Miguitassv.com le aseguramos que la información que usted nos confía será
                    utilizada únicamente para fines promocionales.</p>
                <p class="margin">Miguitassv.com no venderá o proporcionará a ninguna compañía, tercero, o interesado la
                    información suministrada, total o parcialmente.</p>
                <p class="margin">Si desea eliminar su información de nuestros registros, comuníquese con nosotros a
                    administracion@miguitassv.com</p>
                <p class="margin"><b class="gray">De acuerdo con nuestros Términos Legales:</b> Miguitas Pet Treats® se compromete a
                    mantener la privacidad de toda la información brindada por un usuario del sitio web y solamente
                    revelarla si llegase a ser requerida por una autoridad judicial competente.</p>

            </div>
        </div>
    </div>

    <script src="../../controllers/template.js"></script>
</body>

</html>