<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/fonts.css">
    <link rel="stylesheet" href="../../resources/css/terms-conditions.css">
    <link rel="stylesheet" href="../../resources/css/constantes.css">
    <link rel="stylesheet" href="../../resources/css/components.css">
    <link rel="stylesheet" href="../../resources/css/template.css">
</head>

<body>
    <div class="main-container">
        <div class="header-container">
            <div class="icon">
                <a href="index.html">
                    <svg width="45" height="45" viewBox="0 0 226 380" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M46 46L172.322 172.322C182.085 182.085 182.085 197.915 172.322 207.678L46 334"
                            stroke="#8fadff" stroke-width="91" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
            </div>
            <h1>Términos y
                condiciones</h1>
            <div class="sp"></div>
        </div>

        <div class="terms-conditions-container">
            <h1>Políticas de Envíos</h1>
            <div class="info">

                <p class="margin">
                    Miguitas Pet Treats® piensa en tu comodidad y te ofrece la experiencia de compra en línea
                    facilitando el envío del producto hasta la puerta de tu casa u oficina (según cobertura),
                    considerando las siguientes condiciones:
                </p>
                <ul class="list">
                    <li class="list-item"><b class="gray">Asegúrate de proporcionar la información completa de tu
                            domicilio</b> incluyendo puntos
                        de referencia y un número de teléfono que permita facilitar la entrega de tu pedido. Si has
                        incluido indicaciones especiales de entrega, te animamos a que las recuerdes en el día y
                        la hora de recibir tu producto.</li>
                    <li class="list-item"><b class="gray">Miguitas Pet Treats® se reserva el derecho de no despachar o
                            dar servicio a clientes
                            que viven en zonas identificadas como riesgosas</b>, y donde estaríamos poniendo en riesgo
                        la vida de nuestros colaboradores que entregan. Miguitas Pet Treats® podría pedir al
                        cliente que vive en zona riesgosa, que se traslade a un lugar cercano y seguro cerca de su
                        casa para entregarle el pedido.</li>
                    <li class="list-item"><b class="gray">Las órdenes se entregan de Martes a Viernes de 10:00 am. a
                            3:00 pm. Sábados de 9:00 am.
                            a 4:00 pm.</b> Si necesitas la entrega en un horario diferente estos días, contáctenos antes
                        del
                        día de la entrega para poder ayudarte. Se te informará por el mismo medio de comunicación, si
                        tal entrega es posible.</li>
                    <li class="list-item"><b class="gray">La tarifa y tiempo de envío dependerá del destino según la
                            zona de cobertura.</b> Toma en
                        cuenta que debes seleccionar el departamento y municipio correcto a la hora de realizar
                        tu compra. En el caso que la Dirección de Entrega detallada no coincida con el departamento y
                        municipio seleccionado, Miguitas Pet Treats® se reserva el derecho de modificar
                        la tarifa de envío y/o realizar el cobro diferencial pertinente.</li>
                    <li class="list-item"><b class="gray">Domingo y lunes permanecemos cerrados</b> y no se realiza
                        entrega de productos.
                    </li>
                    <li class="list-item"><b class="gray">El cliente es responsable de verificar que el monto que está
                            pagando por el
                            envío</b>
                        está de acuerdo a su conveniencia y zona. Nos reservamos el derecho de visitar
                        zonas de riesgo o que amenace la seguridad de nuestro repartidor.</li>
                    <li class="list-item"><b class="gray">Cuando el cliente detalla en "Dirección de Entrega" el nombre
                            o dirección de
                            un centro comercial</b>, se le llamará al estar fuera de la entrada principal de dicho lugar
                        para que la
                        persona que espera el pedido salga a recibirlo. No se hacen entregas de pedidos dentro
                        de tiendas o cualquier lugar dentro de centros comerciales.</li>
                    <li class="list-item"><b class="gray">En caso de que el envío no pueda completarse</b> debido a que
                        en el domicilio
                        confirmado
                        no se encontró nadie o no se logró contactar al receptor designado, se realizará un nuevo
                        intento de entrega. Si después de un segundo intento el producto no puede ser entregado,
                        este será retornado a Miguitas y el costo de envío de un tercer intento de entrega, correrá
                        por cuenta del cliente.</li>
                    <li class="list-item"><b class="gray">En caso que el cliente designe a una tercera persona para
                            recibir su pedido</b>
                        como por
                        ejemplo un vecino en otra casa cerca del cliente, Miguitas Pet Treats® entregará el pro-
                        ducto según las indicaciones del cliente pero se retracta de la responsabilidad de que el
                        producto llegue a manos del cliente final en las condiciones intactas en que se entregó a
                        la tercera persona. Por lo tanto, si la decoración del pastel, empaque, contenido; en general,
                        la integridad del Pedido, fue alterada, Miguitas Pet Treats® queda exenta de toda
                        responsabilidad.</li>
                    <li class="list-item"><b class="gray">En casos de fuerza mayor fuera del control de Miguitas Pet
                            Treats®</b>, como
                        tormentas
                        tempestuosas, terremotos, inundaciones, guerras etc, no se garantiza la entrega en el
                        tiempo indicado. Para entregas departamentales, no se garantiza hora exacta.</li>
                    <li class="list-item"><b class="gray">Por favor valida que tu orden esté completa al recibirla.</b>
                        Cualquier daño o
                        insatisfacción
                        del producto debe notificarse dentro de las 2 horas posteriores al envío.<a
                            href="garantias-cambios.html"><b class="light-blue"> Ver Política de
                                Devolución y/o Cambio del Producto.</b></a></li>
                </ul>

            </div>
            <h1>Cobertura y Tarifas de envio a
                domicilio</h1>
            <div class="table-info">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">La Libertad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Antiguo Cuscatlán</td>
                            <td class="border-left">$2.50</td>
                        </tr>
                        <tr>
                            <td>Santa Tecla</td>
                            <td class="border-left">$3.00</td>
                        </tr>
                        <tr>
                            <td>Nuevo Cuscatlán</td>
                            <td class="border-left">$3.75</td>
                        </tr>
                        <tr>
                            <td>(Lourdes) Colón</td>
                            <td class="border-left">$5.00</td>
                        </tr>
                        <tr>
                            <td>San José Villanueva</td>
                            <td class="border-left">$5.50</td>
                        </tr>
                        <tr>
                            <td>Zaragoza</td>
                            <td class="border-left">$5.50</td>
                        </tr>
                        <tr>
                            <td>Quezaltepeque (entrega en Parque central)</td>
                            <td class="border-left">$5.50</td>
                        </tr>
                        <tr>
                            <td>Opico (entrega en El Encuentro)</td>
                            <td class="border-left">$7.00</td>
                        </tr>
                        <tr>
                            <td>Ciudad Arce (entrega en gasolinera UNO)</td>
                            <td class="border-left">$8.50</td>
                        </tr>
                        <tr>
                            <td>San Salvador</td>
                            <td class="border-left">$3.00</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2">San Salvador</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mejicanos</td>
                            <td class="border-left">$3.00</td>
                        </tr>
                        <tr>
                            <td>Ayutuxtepeque</td>
                            <td class="border-left">$3.00</td>
                        </tr>
                        <tr>
                            <td>Ciudad Delgado (entrega frente al Alcaldía)</td>
                            <td class="border-left">$4.00</td>
                        </tr>
                        <tr>
                            <td>Panchimalco (Los Planes de Renderos km4 en adelante)</td>
                            <td class="border-left">$4.50</td>
                        </tr>
                        <tr>
                            <td>San Marcos (entrega en El Encuentro San Marcos)</td>
                            <td class="border-left">$5.00</td>
                        </tr>
                        <tr>
                            <td>Soyapango (entrega en Unicentro o Plaza Mundo Soyapango)</td>
                            <td class="border-left">$5.50</td>
                        </tr>
                        <tr>
                            <td>San Martín (entrega en El Encuentro San Martín)</td>
                            <td class="border-left">$6.00</td>
                        </tr>
                        <tr>
                            <td>Apopa (entrega en Plaza Mundo)</td>
                            <td class="border-left">$6.50</td>
                        </tr>
                        <tr>
                            <td>Ilopango (entrega en Unicentro Altavista)</td>
                            <td class="border-left">$6.50</td>
                        </tr>
                        <tr>
                            <td>Santa Tomás (entrega en gasolinera OTS)</td>
                            <td class="border-left">$7.00</td>
                        </tr>
                        <tr>
                            <td>Nejapa</td>
                            <td class="border-left">$7.50</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2">Santa Ana</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>El Congo (entrega en gasolinera Texaco)</td>
                            <td class="border-left">$12.00</td>
                        </tr>
                        <tr>
                            <td>Santa Ana (entrega en Metrocentro)</td>
                            <td class="border-left">$16.50</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2">Sonsonate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="last-child">
                            <td>Izalco (entrega en Parque Central)</td>
                            <td class="border-left">$14.50</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <script src="../../controllers/template.js"></script>
</body>

</html>