<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/cards.css" />
  </head>
  <body>
    <div class="main-container">
      <h1 class="main-container-title">PRODUCTOS DESTACADOS</h1>
      <p class="main-container-text">
        Nuestra mejor receta para tu peludo: Ingredientes naturales y frescos,
        cero químicos y elaboramos los productos en “small batches». Puedes
        estar seguro de que, con Miguitas, obtienes calidad, beneficiando a tu
        mascota para que viva más y mejor.
      </p>
      <div class="cards-container-box">
        <div class="card-container">
          <div class="card-body">
            <div class="card-img">
              <img src="" alt="" />
            </div>
            <div class="card-actions"></div>
            <div class="card-title">
              <h1>Cake Corazón FurryLove</h1>
            </div>
            <div class="card-prices">
                <p>$9.50 – $20.00</p>
            </div>
          </div>
        </div>
      </div>
      <button class="btn-container">VER MÁS</button>
    </div>
  </body>
</html>
