<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../../resources/css/fonts.css">
    <link rel="stylesheet" href="../../resources/css/constantes.css">
    <link rel="stylesheet" href="../../resources/css/components.css">
    <link rel="stylesheet" href="../../resources/css/template.css">
    <link rel="stylesheet" href="../../resources/css/profile.css">

</head>

<body>
    <div class="main-container">
        <div class="profile-info">
            <img src="" alt="">
            <div class="info">
                <h1 class="light-blue">Nombre del usuario</h1>
                <h2 class="gray din">@Lorem ipsum dolor</h2>
            </div>
        </div>
        <div class="inputs-container">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Apellido">
            <input type="email" placeholder="Correo electrónico">
            <input type="tel" placeholder="Teléfono">
            <input type="text" placeholder="Ciudad">
            <input type="text" placeholder="Dirección">
        </div>
        <div class="mascota">
            <h1 class="light-blue">Datos de tu mascota</h1>
            <div class="inputs-container">
                <input type="text" placeholder="Nombre">
                <input type="number" placeholder="Edad">
            </div>
            <div class="radio">
                <div class="radio-buttons row">
                    <div class="radio-btn">
                        <input type="radio" id="gato" name="gato" value="gato">
                        <label class="din" for="gato">Gatito </label>
                    </div>
                    <div class="radio-btn">
                        <input type="radio" id="perro" name="perro" value="perro">
                        <label class="din" for="perro">Perrito </label>
                    </div>
                </div>
                <div class="radio-buttons row">
                    <div class="radio-btn">
                        <input type="radio" id="hembra" name="hembra" value="hembra">
                        <label class="din" for="hembra">Hembra</label>
                    </div>
                    <div class="radio-btn">
                        <input type="radio" id="macho" name="macho" value="macho">
                        <label class="din" for="macho">Macho</label>
                    </div>
                </div>
            </div>

            <div class="inputs-container">
                <input type="text" placeholder="Menciona si padece alguna enfermedad o alergia ">
                <input type="text" placeholder="Menciona algún requisito en sus pedidos">
                <input class="full" type="text" placeholder="Cuentas más acerca de tu mascota">
            </div>
            <button>Guardar</button>
        </div>
    </div>


    <script src="../../controllers/template.js"></script>
</body>

</html>