<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <div class="main-container">
        <div class="profile-info">
            <img src="" alt="">
            <div class="info">
                <h1 class="light-blue">Nombre del usuario</h1>
                <h2 class="gray">@Lorem ipsum dolor</h2>
            </div>
        </div>
        <div class="inputs-container">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Apellido">
            <input type="email" placeholder="Correo electrónico">
            <input type="tel" placeholder="Teléfono">
            <input type="text" placeholder="Ciudad">
            <input type="text" placeholder="Dirección">
        </div>
        <div class="mascota">
            <h2 class="light-blue">Datos de tu mascota</h2>
            <div class="inputs-container">
                <input type="text" placeholder="Nombre">
                <input type="number" placeholder="Edad">
            </div>
        <div class="radio-buttons column">
            <div class="radio-btn">
                <input type="radio" id="serfinsa" name="pago" value="serfinsa">
                <label class="din" for="serfinsa">Red SERFINSA - Aceptamos pagos con tarjetas de las
                    marcas Visa y
                    Mastecard.</label>
            </div>
            <div class="radio-btn">
                <input type="radio" id="transferencia" name="pago" value="transferencia">
                <label class="din" for="transferencia">Transferencia bancaria Banco Agrícola y
                    BAC</label>
            </div>
            <div class="radio-btn">
                <input type="radio" id="qr-agricola" name="pago" value="qr-agricola">
                <label class="din" for="qr-agricola">Código QR Banco Agrícola</label>
            </div>
        </div>
        </div>
    </div>
</body>

</html>