<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/pluto.css">
    <link rel="stylesheet" href="../../resources/css/terms-conditions.css">
    <link rel="stylesheet" href="../../resources/css/constantes.css">
    <link rel="stylesheet" href="../../resources/css/cards.css">
    <link rel="stylesheet" href="../../resources/css/index.css">
</head>

<body>
    <div class="main-container">
        <div class="header-container">
            <div class="icon">
                <a href="index.html">
                    <svg width="45" height="45" viewBox="0 0 226 380" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M46 46L172.322 172.322C182.085 182.085 182.085 197.915 172.322 207.678L46 334"
                            stroke="#8fadff" stroke-width="91" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
            </div>
            <h1>Términos y
                condiciones</h1>
        </div>

        <div class="terms-conditions-container">
            <h1>Restricciones y Políticas de 
                Promociones</h1>
            <div class="info">
                <p>Condiciones de productos en Categorías SALE en Miguitassv.com:</p>
                <ul class="list">
                    <li class="list-item">Descuentos desde 10%</li>
                    <li class="list-item">El precio con descuento ya aparece reflejado.</li>
                    <li class="list-item">Descuentos aplican con cualquier medio de pago, a excepción que se detalle lo
                        contrario
                        en la descripción de cada producto.</li>
                    <li class="list-item">Validez de cada descuento varía según fecha de inicio y finalización
                        establecido o según
                        número de existencias disponibles, ambos detallados en la descripción de cada producto.</li>
                    <li class="list-item">Estilos aplicables al descuento se encuentran detallados en la descripción de
                        cada
                        producto.</li>
                </ul>
                <p class="margin">Las condiciones de otras promociones y descuentos especiales se comunicarán en el mo-
                    mento que se establezcan.</p>
            </div>
        </div>
    </div>

    <script src="../../controllers/template.js"></script>
</body>

</html>