<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/fonts.css">
    <link rel="stylesheet" href="../../resources/css/terms-conditions.css">
    <link rel="stylesheet" href="../../resources/css/constantes.css">
    <link rel="stylesheet" href="../../resources/css/components.css">
    <link rel="stylesheet" href="../../resources/css/template.css">
</head>

<body>
    <div class="main-container">
        <div class="header-container">
            <div class="icon">
                <a href="index.html">
                    <svg width="45" height="45" viewBox="0 0 226 380" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M46 46L172.322 172.322C182.085 182.085 182.085 197.915 172.322 207.678L46 334"
                            stroke="#8fadff" stroke-width="91" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
            </div>
            <h1>Términos y
                condiciones</h1>
            <div class="sp"></div>
        </div>

        <div class="terms-conditions-container">
            <h1>Política de Reversión de
                Pagos y Derecho de Retracto</h1>
            <div class="info">
                <b class="light-blue">Tendrás derecho a solicitar la reversión de tu pago, en los siguientes casos:</b>
                <ul class="list">
                    <li class="list-item">Cuando ejerzas tu derecho de retracto.</li>
                    <li class="list-item">El producto adquirido no haya sido el recibido.</li>
                    <li class="list-item">El producto seleccionado no corresponda con lo solicitado, o resulte
                        defectuoso.</li>
                    <li class="list-item">Existan errores en el cobro de las transacciones por fallas en los sistemas de
                        pago.</li>
                </ul>
                <b class="light-blue">Para solicitar la reversión de tu compra en Productos elaborados por
                    Miguitas Pet Treats®:</b>
                <p class="bottom">Debes hacerlo máximo 24 horas antes de la fecha de entrega indicada al momento de
                    haber realizado tu Pedido desde Miguitassv.com, comunicándote por medio de cualquier
                    canal de comunicación establecido en la tienda virtual. El plazo para aplicar la reversión
                    de tu pago realizado en Miguitassv.com por medio de tarjeta de crédito o débito, o vía
                    transferencia bancaria, Miguitas Pet Treats® lo aplicará de inmediato y de acuerdo a las
                    políticas de cada banco. El tiempo para ver reflejada la reversión del monto podrá ser de
                    hasta 15 días desde la fecha de la solicitud.</p>
                <b class="light-blue">DERECHO DE RETRACTO</b>
                <b class="gray">Para solicitar la reversión de tu compra en Otros productos NO elaborados por
                    Miguitas Pet Treats®:</b>
                <p class="bottom">Debes hacerlo en los siguientes 8 días hábiles de realizada la compra, siempre y
                    cuando
                    no se haya empezado a hacer uso del bien. El plazo para aplicar la reversión de tu pago
                    realizado en Miguitassv.com por medio de tarjeta de crédito o débito, o νία transferencia
                    bancaria, Miguitas Pet Treats® lo aplicará de inmediato y de acuerdo a las políticas de
                    cada banco. El tiempo para ver reflejada la reversión del monto podrá ser de hasta 15 días
                    desde la fecha de la solicitud.</p>
            </div>
        </div>
    </div>

    <script src="../../controllers/template.js"></script>
</body>

</html>